@{
    ViewBag.Title = "New Location";
}

@using YouthLocationBooking.Data.Database.Entities

@section styles {
    @Styles.Render("~/Assets/css/panel/locationsnew.css")
}

@model YouthLocationBooking.Data.ViewModel.Models.LocationNewImagesViewModel

@section navbreadcrumb {
    <li><a href="@Url.Action("Index", "Summary", new { Area = "Panel" })">Panel</a></li>
    <li class="active">@ViewBag.Title</li>
}

<div class="page">
    <div class="row">
        <div class="shadowbox padding">
            @using (Html.BeginForm("NewStep4", "Locations", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div class="form-group clearfix">
                    @Html.LabelFor(m => m.Images, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Images, new { type="file", multiple="true" })
                    @Html.ValidationMessageFor(m => m.Images, null, new { @class = "form-error" })
                </div>

                <div class="form-group">
                    <input type="submit" value="Volgende Stap" class="button" />
                </div>
            }
        </div>
    </div>
</div>