@{
    ViewBag.Title = "New Location";
}

@model YouthLocationBooking.Data.ViewModel.Models.LocationNewAddressViewModel

@section styles {
    @Styles.Render("~/Assets/css/panel/locationsnew.css")
}

@section navbreadcrumb {
    <li><a href="@Url.Action("Index", "Home", new { Area = "Panel" })">Panel</a></li>
    <li class="active">@ViewBag.Title</li>
}

<div class="page">
    <div class="row">
        <div class="shadowbox padding">
            @using (Html.BeginForm("NewStep2", "Locations", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div class="form-group clearfix">
                    <i class="fa fa-key"></i>
                    @Html.LabelFor(m => m.AddressStreet, new { @class = "col-md-4 form-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.AddressStreet, new { @class = "form-control", placeholder = "Street" })
                        @Html.ValidationMessageFor(m => m.AddressStreet, null, new { @class = "form-error" })
                    </div>
                </div>
                <div class="form-group clearfix">
                    <i class="fa fa-key"></i>
                    @Html.LabelFor(m => m.AddressNumber, new { @class = "col-md-4 form-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.AddressNumber, new { @class = "form-control", placeholder = "Number" })
                        @Html.ValidationMessageFor(m => m.AddressNumber, null, new { @class = "form-error" })
                    </div>
                </div>
                <div class="form-group clearfix">
                    <i class="fa fa-key"></i>
                    @Html.LabelFor(m => m.AddressPostalCode, new { @class = "col-md-4 form-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.AddressPostalCode, new { @class = "form-control", placeholder = "Postal Code" })
                        @Html.ValidationMessageFor(m => m.AddressPostalCode, null, new { @class = "form-error" })
                    </div>
                </div>
                <div class="form-group clearfix">
                    <i class="fa fa-key"></i>
                    @Html.LabelFor(m => m.AddressCity, new { @class = "col-md-4 form-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.AddressCity, new { @class = "form-control", placeholder = "City" })
                        @Html.ValidationMessageFor(m => m.AddressCity, null, new { @class = "form-error" })
                    </div>
                </div>
                <div class="form-group clearfix">
                    <i class="fa fa-key"></i>
                    @Html.LabelFor(m => m.AddressProvince, new { @class = "col-md-4 form-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.AddressProvince, new { @class = "form-control", placeholder = "Province" })
                        @Html.ValidationMessageFor(m => m.AddressProvince, null, new { @class = "form-error" })
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Volgende Stap" class="button" />
                </div>
            }
        </div>
    </div>
</div>