@{
    ViewBag.Title = "Nieuwe Locatie - Faciliteiten";
}

@using YouthLocationBooking.Data.Database.Entities

@section styles {
    @Styles.Render("~/Assets/css/panel/locationsnew.css")
}

@model YouthLocationBooking.Data.ViewModel.Models.LocationNewFacilitiesViewModel

@section navbreadcrumb {
    <li><a href="@Url.Action("Index", "Home", new { Area = "Panel" })">Panel</a></li>
    <li class="active">@ViewBag.Title</li>
}

<div class="page">
    <div class="row">
        <div class="shadowbox padding">
            @using (Html.BeginForm("NewStep3", "Locations", FormMethod.Post))
            {
                <div class="sub-title">Faciliteiten</div>

                @Html.ValidationSummary(true, "", new { @class = "form-error" })
                @Html.AntiForgeryToken()
                <div class="form-group clearfix">
                    @foreach (DbLocationFacility facility in ViewBag.Facilities)
                    {
                        <div class="col-md-4 form-group clearfix">
                            <input type="checkbox" name="SelectedDatabaseIds" value="@facility.Id" >@facility.Name
                        </div>
                    }
                    @Html.ValidationMessageFor(m => m.SelectedDatabaseIds, null, new { @class = "form-error" })
                </div>

                <div class="form-group">
                    <input type="submit" value="Volgende Stap" class="button" />
                </div>
            }
        </div>
    </div>
</div>