@{
    ViewBag.Title = "Review Schrijven";
}

@using YouthLocationBooking.Data.Database.Entities

@model YouthLocationBooking.Data.ViewModel.Models.LocationReviewViewModel

@section navbreadcrumb {
    <li><a href="@Url.Action("Index", "Home", new { Area = "Panel" })">Panel</a></li>
<li><a href="@Url.Action("Index", "Reviews", new { Area = "Panel" })">Reviews</a></li>
    <li class="active">@ViewBag.Title</li>
}

<div class="page">
    <div class="row">
        <div class="shadowbox padding">
            @using (Html.BeginForm("Review", "Locations", FormMethod.Post, new { id = ViewBag.Location.Id }))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div class="form-group row clearfix">
                    <i class="fa fa-envelope"></i>
                    @Html.LabelFor(m => m.Title, new { @class = "col-md-4 form-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Name" })
                        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "form-error" })
                    </div>
                </div>
                <div class="form-group row clearfix">
                    <i class="fa fa-envelope"></i>
                    @Html.LabelFor(m => m.Review, new { @class = "col-md-4 form-label" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(m => m.Review, new { @class = "form-control", placeholder = "Message" })
                        @Html.ValidationMessageFor(m => m.Review, null, new { @class = "form-error" })
                    </div>
                </div>

                {
                    int x = 0;
                    foreach (DbLocationFacility facility in ViewBag.Location.Facilities)
                    {
                        <div class="col-md-4 form-group clearfix">
                            <div class="sub-title">@facility.Name</div>
                            @Html.HiddenFor(m => m.FacilityRatings[x].Id, new { @Value = facility.Id })
                            @Html.TextBoxFor(m => m.FacilityRatings[x].Rating)
                        </div>
                        x++;
                    }
                }

                <div class="form-group">
                    <input type="submit" value="Submit" class="button" />
                </div>
            }
        </div>
    </div>
</div>