@{
    ViewBag.Title = "Wachtwoord Aanpassen";
}

@model YouthLocationBooking.Data.ViewModel.Models.ChangePasswordViewModel

@section styles {
    @Styles.Render("~/Assets/css/panel/profilechangepassword.css")
}

@section navbreadcrumb {
    <li><a href="@Url.Action("Index", "Home", new { Area = "Panel" })">Panel</a></li>
    <li><a href="@Url.Action("Edit", "Profile", new { Area = "Panel" })">Profile</a></li>
    <li class="active">@ViewBag.Title</li>
}

<div class="page">
    <div class="row">
        <div class="shadowbox">
            @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div class="form-group clearfix">
                    <i class="fa fa-key"></i>
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 form-label" })
                    <div class="col-md-8 no-padding">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Old Password" })
                        @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "form-error" })
                    </div>
                </div>
                <div class="form-group clearfix">
                    <i class="fa fa-key"></i>
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 form-label" })
                    <div class="col-md-8 no-padding">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "form-error" })
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Change Password" class="button" />
                </div>
            }
        </div>
    </div>
</div>

