<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Assets/css/bundles/bootstrap")
    @Styles.Render("~/Assets/css/bundles/styles")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="page-header-container">
        <header>
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="pull-right">
                            <span>
                                <a href="@Url.RouteAction("Index", "Login", "ActionOnly")">Login</a>
                            </span>
                            <span>
                                <a href="@Url.RouteAction("Index", "Register", "ActionOnly")">Register</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="header-nav">
                <div class="container">
                    <div class="row">
                        <a href="@Url.RouteAction("Index", "Home", "ActionOnly")" class="col-md-2">
                            <h1>JeugdLocatie Booking</h1>
                        </a>
                        <ul class="col-md-4">
                            <li>
                                <a href="@Url.RouteAction("Index", "Locations", "ActionOnly")">Locaties</a>
                            </li>
                        </ul>
                        <ul class="col-md-5 pull-right">
                            <li>
                                <a href="@Url.RouteAction("Index", "Faq", "ActionOnly")">FAQ</a>
                            </li>
                            <li>
                                <a href="@Url.RouteAction("Index", "Partners", "ActionOnly")">Partners</a>
                            </li>
                            <li>
                                <a href="@Url.RouteAction("Index", "Contact", "ActionOnly")">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="pull-left page-title">@ViewBag.Title</h2>
                        <ul class="pull-right page-breadcrumbs">
                            @RenderSection("navbreadcrumb", required: false)
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - JeugdLocatie Booking</p>
            </footer>
        </div>

        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
