<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Assets/css/bundles/bootstrap")
    @Styles.Render("~/Assets/css/bundles/styles")
</head>
<body>
    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <ul>
                        <li class="col-md-2">
                            <a href="@Url.RouteAction("Index", "Home", "ActionOnly")">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <nav class="header-nav">
            <div class="container">
                <div class="row">
                    <ul class="col-md-5">
                        <li>
                            <a href="@Url.RouteAction("Index", "Locations", "ActionOnly")">Locaties</a>
                        </li>
                    </ul>
                    <ul class="col-md-5 pull-right">
                        <li>
                            <a href="@Url.RouteAction("Index", "Faq", "ActionOnly")">FAQ</a>
                        </li>
                        <li>
                            <a href="@Url.RouteAction("Index", "Partners", "ActionOnly")">Partners</a>
                        </li>
                        <li>
                            <a href="@Url.RouteAction("Index", "Contact", "ActionOnly")">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JeugdLocatie Booking</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
