@{
    ViewBag.Title = ViewBag.Location.Name + " Details";
}

@using YouthLocationBooking.Data.Database.Entities

@model YouthLocationBooking.Data.ViewModel.Models.LocationBookingViewModel

@section styles {
    @Styles.Render("~/Assets/css/bundles/calender")
    @Styles.Render("~/Assets/css/main/locationsdetails.css")
}

@section scripts {
    @Scripts.Render("~/Assets/js/bundles/calender")

    <script>
        $('.calender').clndr({
            events: @(Html.Raw(ViewBag.CalenderEventArray)),
            multiDayEvents: {
                startDate: 'startDate',
                endDate: 'endDate'
            },
            showAdjacentMonths: true,
            adjacentDaysChangeMonth: false
        });
    </script>
}

@section navbreadcrumb {
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="@Url.Action("Index", "Locations")">Locaties</a></li>
    <li class="active">@ViewBag.Location.Name Details</li>
}

<div class="row page">
    <div class="col-md-9">
        <div class="shadowbox">
            <div class="location-info">
                <div class="location-header clearfix">
                    <div class="pull-left">
                        <h5 class="location-name">
                            @ViewBag.Location.Name
                        </h5>
                        <ul class="location-summary">
                            <li>Max @(ViewBag.Location.Capacity) Personen</li>
                            @if (!string.IsNullOrWhiteSpace(ViewBag.Location.Organisation))
                            {
                                <li>Verhuur door @ViewBag.Location.Organisation</li>
                            }
                        </ul>
                    </div>
                    <div class="pull-right">
                        <span class="location-price">
                            &euro;@(ViewBag.Location.PricePerDay)/dag
                        </span>
                    </div>
                </div>
                <div class="location-images clearfix">
                    <h5>Foto's</h5>
                    @if (((string[])ViewBag.LocationImagesPaths).Length > 0)
                    {
                        <div class="col-md-9 no-padding">
                            <img src="@ViewBag.LocationImagesPaths[0]" />
                        </div>
                        <div class="col-md-3 no-padding-right">
                            @foreach (var imageUrl in ViewBag.LocationImagesPaths)
                            {
                                <img src="@imageUrl" />
                            }
                        </div>
                    }
                    else
                    {
                        <span>Deze locatie heeft geen foto's</span>
                    }
                </div>
                <div class="location-description">
                    <h5>Beschrijving</h5>
                    <span>@ViewBag.Location.Description</span>

                    @if (((IEnumerable<DbLocationFacility>)ViewBag.Location.Facilities).Count() > 0)
                    {
                        <h5>Faciliteiten</h5>
                        foreach (DbLocationFacility facility in ViewBag.Location.Facilities)
                        {
                            <div class="col-md-3 no-padding-right">
                                <span>@facility.Name</span>
                            </div>
                        }
                    }
                </div>
                <div class="location-address clearfix">
                    <div class="col-md-9 no-padding-left">
                        <h5>Kaart</h5>
                        <iframe frameborder="0" style="border:0;width:100%;height:20rem;" src=@("https://www.google.com/maps/embed/v1/place?q=" + Url.Encode(ViewBag.Location.AddressStreet + " " + ViewBag.Location.AddressNumber + "," + ViewBag.Location.AddressPostalCode + " " + ViewBag.Location.AddressCity) + "&key=AIzaSyC6ZWDSSqwyQ4F-8qKjEZSIVgZYk2hXRTQ") allowfullscreen></iframe>
                    </div>
                    <div class="col-md-3 no-padding-right">
                        <h5>Adres</h5>
                        <ul>
                            <li>@ViewBag.Location.AddressStreet @ViewBag.Location.AddressNumber</li>
                            <li>@ViewBag.Location.AddressPostalCode @ViewBag.Location.AddressCity</li>
                            <li>@ViewBag.Location.AddressProvince</li>
                        </ul>
                    </div>
                </div>
                <div class="location-reviews">
                    <h5>Beoordelingen</h5>
                    @if (((IEnumerable<DbLocationReview>)ViewBag.LocationReviews).Count() > 0)
                    {
                        foreach (DbLocationReview review in ViewBag.LocationReviews)
                        {
                            <div class="sub-title">@review.Title</div>
                            <div>@review.Review</div>

                            <div class="sub-title">Faciliteiten</div>
                            <div class="col-md-3 no-padding-right">
                                @foreach (DbLocationFacilityRating facilityRating in review.FacilityRatings)
                                {
                                    <span>@facilityRating.Facility.Name</span>
                                    <span>@facilityRating.Rating</span>
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <aside class="col-md-3">
        <div class="shadowbox">
            <div class="calender"></div>
        </div>
        <div class="shadowbox padding">
            <div class="location-booking">
                <h5>Locatie Boeken</h5>
                @using (Html.BeginForm("Details", "Locations", FormMethod.Post, new { id = ViewBag.Location.Id }))
                {
                    <div>
                        @Html.TextBoxFor(m => m.From, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Van", onfocus = "(this.type='date')", onblur = "(this.type='text')" })
                        @Html.ValidationMessageFor(m => m.From, null, new { @class = "form-error" })
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.To, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Tot", onfocus = "(this.type='date')", onblur = "(this.type='text')" })
                        @Html.ValidationMessageFor(m => m.To, null, new { @class = "form-error" })
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.Organisation, new { @class = "form-control", placeholder = "In Naam Van" })
                        @Html.ValidationMessageFor(m => m.Organisation, null, new { @class = "form-error" })
                    </div>
                    <input type="submit" value="Boeken" class="button" />
                }
            </div>
        </div>
    </aside>
</div>