@{
    ViewBag.Title = "Zoek Locaties";
}

@using YouthLocationBooking.Data.Database.Entities;
@using X.PagedList;
@using X.PagedList.Mvc;

@model YouthLocationBooking.Data.Validation.Models.LocationFilterFormValidationModel

@section styles {
    @Styles.Render("~/Assets/css/pagination.css")
    @Styles.Render("~/Assets/css/main/locations.css")
}

@section navbreadcrumb {
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="active">Locaties</li>
}

<div class="row page">
    <aside class="col-md-3">
        <div class="shadowbox padding filter-container">
            @using (Html.BeginForm("Index", "Locations", FormMethod.Post))
            {
                <h5>Filters</h5>
                <div>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Naam" })
                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "form-error" })
                </div>
                <div class="sub-title">Algemeen</div>
                <div>
                    @Html.TextBoxFor(m => m.MinCapacity, new { @class = "form-control", @type="number", min="1", placeholder = "Minimale Capaciteit" })
                    @Html.ValidationMessageFor(m => m.MinCapacity, null, new { @class = "form-error" })
                </div>
                <div class="sub-title">Periode</div>
                <div>
                    @Html.TextBoxFor(m => m.From, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Van", onfocus = "(this.type='date')", onblur = "(this.type='text')" })
                    @Html.ValidationMessageFor(m => m.From, null, new { @class = "form-error" })
                </div>
                <div>
                    @Html.TextBoxFor(m => m.To, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Tot", onfocus = "(this.type='date')", onblur = "(this.type='text')" })
                    @Html.ValidationMessageFor(m => m.To, null, new { @class = "form-error" })
                </div>
                <div class="sub-title">Locatie</div>
                <div>
                    @Html.TextBoxFor(m => m.CityOrPostcode, new { @class = "form-control", placeholder = "Stad of Postcode" })
                    @Html.ValidationMessageFor(m => m.CityOrPostcode, null, new { @class = "form-error" })
                </div>
                <div>
                    @Html.TextBoxFor(m => m.Province, new { @class = "form-control", placeholder = "Provincie" })
                    @Html.ValidationMessageFor(m => m.Province, null, new { @class = "form-error" })
                </div>
                <input type="submit" value="Filter" class="button" />
            }
        </div>
    </aside>
    <div class="col-md-9">
        <div class="shadowbox padding clearfix locations-search-results-header">
            <h5 class="pull-left">Zoekresultaten</h5>
            <div class="pull-right">
                @Html.PagedListPager((IPagedList)ViewBag.PagedLocations, page => Url.Action("Index", "Locations", new { page }))
            </div>
        </div>

        @if (((IEnumerable<DbLocation>)ViewBag.PagedLocations).Any())
        {
            foreach (DbLocation location in ViewBag.PagedLocations)
            {
                <div class="locations-search-result shadowbox clearfix">
                    <div class="result-thumbnail" style="background-image:url(../../Assets/img/location_placeholder.jpg);"></div>
                    <div class="result-info">
                        <div class="result-header clearfix">
                            <div class="pull-left">
                                <h5 class="result-title">
                                    @location.Name
                                </h5>
                                <ul class="result-summary">
                                    <li>Max @(location.Capacity) Personen</li>
                                    <li>@location.AddressCity</li>
                                </ul>
                            </div>
                            <div class="pull-right">
                                <span class="result-price">
                                    vanaf €@(location.PricePerDay)/dag
                                </span>
                            </div>
                        </div>
                        <div class="result-facilities">
                            <div class="row">
                                <ul class="col-md-3">
                                    <li>Douches</li>
                                    <li>Slaapplaatsen</li>
                                    <li>Parking</li>
                                </ul>
                                <ul class="col-md-3">
                                    <li>Keuken</li>
                                    <li>Keukenploeg</li>
                                </ul>
                                <ul class="col-md-3">
                                    <li>Keuken</li>
                                    <li>Keukenploeg</li>
                                </ul>
                                <div class="col-md-3">
                                    <button class="button">Read More</button>
                                    <button class="button">Book Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="shadowbox padding clearfix">
                <div class="pull-right">
                    @Html.PagedListPager((IPagedList)ViewBag.PagedLocations, page => Url.Action("Index", "Locations", new { page }))
                </div>
            </div>
        }
        else
        {
            <div class="no-search-results">
                <img src="~/Assets/img/sad-face-no-results.png" />
                <span>Geen Zoekresultaten</span>
            </div>
        }
    </div>
</div>