<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Assets/css/bundles/styles")
    @Styles.Render("~/Assets/css/bundles/panelstyles")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="page-header-container">
        <header>
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <a href="@Url.Action("Index", "Home", new { Area = string.Empty })">Return to main site</a>
                        </div>
                        <div class="pull-right">
                            <span>
                                <a href="@Url.Action("Index", "Profile", new { Area = "Panel" })">Profile</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="header-nav">
                <div class="container">
                    <div class="row">
                        <a href="@Url.Action("Index", "Home", new { Area = string.Empty })" class="col-md-2">
                            <h1>JeugdLocatie Booking</h1>
                        </a>
                        <ul class="col-md-2">
                            <li>
                                <a href="@Url.Action("Index", "Summary", new { Area = "Panel" })">Overzicht</a>
                            </li>
                        </ul>
                        <ul class="col-md-8 pull-right">
                            <li>
                                <a href="@Url.Action("Index", "Reviews", new { Area = "Panel" })">Beoordelingen</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Requests", new { Area = "Panel" })">Verzoeken</a>
                            </li>
                            <li>
                                <a href="@Url.Action("New", "Locations", new { Area = "Panel" })">Nieuwe Locatie Toevoegen</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="pull-left page-title">@ViewBag.Title</h2>
                        <ul class="pull-right page-breadcrumbs">
                            @RenderSection("navbreadcrumb", required: false)
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - JeugdLocatie Booking</p>
            </footer>
        </div>

        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
